.generalLayout {
    min-height: 750px;
    text-align: center;
}

.userGuide {
    display: flex;
    justify-content: space-between;
}

.accountDetails {
    display: flex;
    gap: 18px;
}

.button {
    margin-top: 24px;
}
