.generalLayout {
  min-height: 750px;
  text-align: center;
}

.pageContainer {
  @media (--breakpoint) {
    padding: "0 50px";
  }
}

.userGuide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (--breakpoint) {
    justify-content: space-between;
  }
}

.accountDetails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (--breakpoint) {
    gap: 18px;
  }
}

.button {
  margin-top: 16px;
  @media (--breakpoint) {
    margin-top: 24px;
  }
}
